# Temel Geliştirme Framework'ü
Django==6.1

# Veritabanı Sürücüsü (PostgreSQL)
psycopg2-binary==2.9.12

# Veri Analizi ve Excel Entegrasyonları
pandas==3.0.5
numpy==2.5.1
openpyxl==3.1.5

# Canlı Finansal Veri ve Kur Servisleri
yfinance==1.5.2
requests==2.34.2
python-dateutil==2.9.0.post0

# Üretim (Production) Ortamı Araçları
waitress==3.0.2
gunicorn==26.0.0
whitenoise==6.12.0

# Yardımcı Metin ve SQL Düzenleyiciler
sqlparse==0.5.5
asgiref==3.12.1

# Çevre Değişkenleri ve Yapılandırma Yönetimi
python-dotenv==1.2.2
